
.FAIXA1{
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    color: #000;
    background-color: #FEBE10;
    font-size: 1.375rem; 
    height: 3.9375rem; 

    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    font-family: roboto;
    font-size: 1.56119rem; 
    display: grid;  
    text-align: center;

    
}

.BTN1{
    font-weight: 700; 
    font-size: 1.01288rem; 
    background-color: #FEBE10;

    cursor: pointer;
    width: 13.5rem;
    height: 3.47225rem; 
    border: 0px;
}

body{
    color: #fff;
    background-color: #000;
}

.G1{
    font-family:roboto;
    .produto{font-size: 1.125rem;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 161%;}
    .amarelo{color: #FEBE10;
    display: inline;}
    .ciano{color: #00CFB9;
    display: inline;}

    
    margin: 2.5rem;
    line-height: 161%; 
    font-size: 1rem; 
    /* background-color: rgb(38, 50, 50); */


}

.G2{
    
    font-family:roboto;
    .naosabe{
        font-size: 1.375rem; 
        text-transform: uppercase; 
        font-weight: 700; 
    }
    /* background-color: rgb(44, 44, 65); */

    display: grid;
    text-align: center;
}

.G3{
    .passo{
    text-align: center;   
    font-size: 1.5625rem;
    font-weight: 700;
    line-height: 113.5%; 
    text-transform: uppercase;
    }
    font-family:roboto;
    /* background-color: rgb(44, 69, 44); */

    text-align: center;
}

footer{
    /* background-color: rgb(33, 52, 52); */
    font-family:roboto;
    background-color: #fff;
    color: #000;

    padding-top: 6.44rem;
    padding-left: 3.56rem;
    padding-bottom: 3.25rem;

    .ajuda{
    color: #000;
    font-size: 1.5rem;
    }

    .BTNFOOTER{
        background-color: #000;
        color: #FEBE10;

        font-size: 0.91156rem; 
        cursor: pointer;
        width: 13.5rem;
        height: 3.47225rem; 
        border: 0px;
    }
}